.tabSwitcher {
  width: max-content;
  margin: 5px;
  padding: 15px;
  &:focus-visible {
    outline: 2px solid var(--color-info-500);
  }
}
.btnWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.button {
  width: 100px;
  border-radius: 2px 0px 0px 2px;
  border: 1px solid var(--Dark-300, #4c4c4c);
  padding: 6px 24px;

  background: transparent;
  &:focus {
    border-color: var(--Info-900, #234e99);
    background: var(--Dark-700, #171717);
  }
  &:hover {
    border-color: var(--Dark-100, #808080);
    background: var(--Dark-300, #4c4c4c);
  }
  &:active {
    border-color: var(--Primary-500, #8c61ff);
    background: var(--Primary-500, #8c61ff);
  }
  &:disabled {
    border-color: var(--Dark-300, #4c4c4c);
    background: var(--Dark-700, #171717);
  }
  &:focus {
    border-color: var(--Primary-500, #8c61ff);
    background: var(--Primary-500, #8c61ff);
  }
}

.btnDefault {
  background: transparent;
  border-color: var(--Dark-300, #4c4c4c);
}

.btnActive {
  border-color: var(--Primary-500, #8c61ff);
  background: var(--Primary-500, #8c61ff);
}

.light {
  background: #808080;
}

.average {
  background: #4c4c4c;
}
.dark {
  background: #171717;
}
