.button {
// отменяем стандартные стили
  all: unset;
  cursor: pointer;

  display:inline-flex;
  align-items:center;
  justify-content: center;
  padding: 6px 12px;

  &:focus-visible {
    outline: 2px solid var(--color-info-500);
  }
  &:active{
  opacity:0.8;
  }
}

.primary {
  background-color: red;
}

.secondary {
  background-color: green;
}

.tertiary {
  background-color: blue;
}

.link {
  background-color: yellow;
}

.fullWidth {
  width: 100%;
}