*{
color: #FFFEFE;;
}

.card {
  position:relative;
  width: 420px;
  min-height: 552px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border:1px solid #313131;
  box-shadow: -1px -1px 2px 0px #0000001A;
  border-radius:2px;
  &:hover {
    outline: 2px solid var(--color-info-500);
  }

}
.cardHeader{
    position: absolute;
    top: 0;
    left: 0;
font-size: 24px;
font-weight: 600;
padding:0 12px;
word-wrap: break-word;
width:100%;
display: inline-flex;
}

.body{
 padding: 44px 12px 30px;
 width: 100%;
 height: -webkit-fill-available;
 border:1px solid #8c61ff;;
}

.width{
width: 420px;
}
.iconSize{
width:20px;
margin:7px;
}
.dark {
  background-color:  var(--color-dark-700) ;
//   background-color: dark700;
}

.light {
  background-color: #8e8e93;
}

.white {
  background-color: #fff;
  color:var(--color-dark-700);
}

